<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col story">
                <span>OUR STORY</span><br>
                <a>Lorem ipsum dolorsitamet,consectetur<br>
                    adipiscingelit,seddoeiusmodtempor<br>
                    incididuntutlaboreetdoloremagnaaliqua.
                </a>
                <div class="fb">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>

                </div>


            </div>
            <div class="col story pl-5 ml-5">
                <span>MORE</span>
                <div>AboutUs
                </div>
                <div>ContactUs
                </div>
                <div>TrackMyOrder
                </div>
                <div>FAQ</div>

            </div>
            <div class="col story pl-5 ml-5">
                <span>SHOP</span>
                <div>BedLinen
                </div>
                <div>BathTowels
                </div>
                <div>Bathrobes
                </div>
                <div>HomeFragrances</div>

            </div>
            <div class="col story">
                <span>SHOP</span><br>
                <a>Subscribe to reach updats ,access to <br>
                    exclusive deals and more.
                </a>
                <div class="input-group mb-3 sub">
                    <input type="text" class="form-control" placeholder="Enter your email address"
                        aria-label="Recipient's username" aria-describedby="basic-addon2" style="font-size: 11px; ">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" style="font-size: 11px; ">Subscribe</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="d-flex justify-content-between">
    <div class="last">©2020BLAUCHE</div>
    <div class="visa">
        <i class="fab fa-cc-amex"></i>
        <i class="fab fa-apple-pay"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-paypal"></i>
        <i class="fab fa-cc-mastercard"></i>

    </div>
</div>